#notification{
    display: none;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    padding: 5px;
}

#login_form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 80%;
    padding:10px;
}

.box {
  display: flex;
  justify-content: center;
}
